In [1]:
import pandas as pd
df=pd.read_csv("data.csv")

df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [2]:
X=df[["Weight","Volume"]]
X.head()

   Weight  Volume
0     790    1000
1    1160    1200
2     929    1000
3     865     900
4    1140    1500

In [4]:
y=df["CO2"]
y.head()

0     99
1     95
2     95
3     90
4    105
Name: CO2, dtype: int64

In [5]:
from sklearn import linear_model

regr=linear_model.LinearRegression()
regr.fit(X,y)
predictedCO2=regr.predict([[600,200]])
predictedCO2

C:\Users\gaura\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([85.78633916])

In [6]:
#Coefficient
regr.coef_

array([0.00755095, 0.00780526])

In [ ]:
#weight:0.00755095
#Volume:0.00780526

#if the weight increase by 1 kg, the co2 emission increases 
#by 0.00755095g

#if the volume increase by 1 cm3, the co2 emission increases 
#by 0.00780526g